*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.core.resources/.projects/JOGL/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/JOGL/.syncinfo
.metadata/.plugins/org.eclipse.core.resources/.projects/JOGL/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/PlatformMaze/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/PlatformMaze/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/PlatformMaze/.syncinfo
.metadata/.plugins/org.eclipse.core.resources/.projects/PlatformMaze/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.tigris.subversion.subclipse.tools.usage.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/JOGL2Nehe10World3D.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1196395312.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1327615145.index
.metadata/.plugins/org.eclipse.jdt.core/1474439439.index
.metadata/.plugins/org.eclipse.jdt.core/1542969262.index
.metadata/.plugins/org.eclipse.jdt.core/1765565202.index
.metadata/.plugins/org.eclipse.jdt.core/1769317737.index
.metadata/.plugins/org.eclipse.jdt.core/178032050.index
.metadata/.plugins/org.eclipse.jdt.core/2178737305.index
.metadata/.plugins/org.eclipse.jdt.core/2211732093.index
.metadata/.plugins/org.eclipse.jdt.core/2277049421.index
.metadata/.plugins/org.eclipse.jdt.core/2281175840.index
.metadata/.plugins/org.eclipse.jdt.core/2322874659.index
.metadata/.plugins/org.eclipse.jdt.core/2456149042.index
.metadata/.plugins/org.eclipse.jdt.core/2545651841.index
.metadata/.plugins/org.eclipse.jdt.core/2793427791.index
.metadata/.plugins/org.eclipse.jdt.core/2817816647.index
.metadata/.plugins/org.eclipse.jdt.core/2885545355.index
.metadata/.plugins/org.eclipse.jdt.core/2888453087.index
.metadata/.plugins/org.eclipse.jdt.core/3047753907.index
.metadata/.plugins/org.eclipse.jdt.core/31031388.index
.metadata/.plugins/org.eclipse.jdt.core/3210208076.index
.metadata/.plugins/org.eclipse.jdt.core/3251038749.index
.metadata/.plugins/org.eclipse.jdt.core/3270581164.index
.metadata/.plugins/org.eclipse.jdt.core/3348459436.index
.metadata/.plugins/org.eclipse.jdt.core/3398363413.index
.metadata/.plugins/org.eclipse.jdt.core/3509971074.index
.metadata/.plugins/org.eclipse.jdt.core/3794497040.index
.metadata/.plugins/org.eclipse.jdt.core/3879426701.index
.metadata/.plugins/org.eclipse.jdt.core/3941913724.index
.metadata/.plugins/org.eclipse.jdt.core/411166081.index
.metadata/.plugins/org.eclipse.jdt.core/4167150008.index
.metadata/.plugins/org.eclipse.jdt.core/4259282187.index
.metadata/.plugins/org.eclipse.jdt.core/4276456779.index
.metadata/.plugins/org.eclipse.jdt.core/56535197.index
.metadata/.plugins/org.eclipse.jdt.core/877970827.index
.metadata/.plugins/org.eclipse.jdt.core/900290380.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
/bin/
.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
build/distributions/Steve-World.tar
build/distributions/Steve-World.zip
build/scripts/Steve-World
build/scripts/Steve-World.bat
build/tmp/jar/MANIFEST.MF
